
.VolunteerHistoryContainer {
    padding: 2rem;
}
.title{
    background-color: white;
    font-size:1.75rem;
    width: 90%;
    padding: 1%;
    margin-bottom: 3rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
}
.VolunteerHisDisContainer{
    width: 90%;
    border-collapse: collapse;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-spacing:0px;
    overflow-x: auto;
    padding: 1%;

}



.VolunteerHisDisContainer td{
    padding: 1rem;
    font-weight: 600;
    border-bottom: 1px solid #ddd;

}
.VolunteerHisDisContainer th{
   
    background-color: #f9f9f9;
    padding: 1rem;
    border-bottom: 1px solid #ddd;
    font-weight: 600;

}
.VolunteerHistoryInfo{

}
.VolunteerHistoryTableBody tr:hover{
    background-color: #f9f9f9;
}

.statusTag.confirmed{color:green}
.statusTag.cancelled{color:red}

.columnHeader {
  flex: items-center gap-1 group;
  position: relative;
  cursor: pointer;
  padding-right: 1rem;
}

.columnHeader:hover {
  background-color: #f0f0f0; /* light gray, feel free to adjust */
}

.chevronIcon {
  opacity: 0;
  position: absolute;
  right: 0.25rem;
  top: 50%;
  transform: translateY(-50%);
  transition: opacity 0.2s ease;
  @apply text-gray-500;
}

/* Make the chevron visible on hover */
.columnHeader:hover .chevronIcon {
  opacity: 1;
}

